doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title グリッドレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    - items = {}
    - items[0] = {class: 'maindish', image: 'image_S_1', alt: 'メインディッシュ', category: 'MAIN DISH', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[1] = {class: 'appetizer', image: 'image_S_2', alt: '前菜', category: 'APPETIZER', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}
    - items[2] = {class: 'column', image: 'image_S_3', alt: 'コラム', category: 'COLUMN', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[3] = {class: 'breaktime', image: 'image_S_4', alt: 'おやつの時間', category: 'BREAK TIME', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}
    - items[4] = {class: 'maindish', image: 'image_S_5', alt: 'メインディッシュ', category: 'MAIN DISH', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[5] = {class: 'breaktime', image: 'image_S_6', alt: 'おやつの時間', category: 'BREAK TIME', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[6] = {class: 'maindish', image: 'image_S_7', alt: 'メインディッシュ', category: 'MAIN DISH', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt'}
    - items[7] = {class: 'breaktime', image: 'image_S_8', alt: 'おやつの時間', category: 'BREAK TIME', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore'}
    - items[8] = {class: 'column', image: 'image_S_9', alt: 'コラム', category: 'COLUMN', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}
    - items[9] = {class: 'maindish', image: 'image_S_10', alt: 'メインディッシュ', category: 'MAIN DISH', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}

    each item, i in items
      section.item(class="item-#{item.class}")
        a(href="#")
          img.image(src="images/#{item.image}.jpg" alt="#{item.alt}")
          .category= item.category
          p.description= item.description

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/masonry.js')
    // endbuild
